astro-embed-tweet {
  display: block;
}

astro-embed-tweet::before {
  --color-twitter: #1da1f2;
  display: block;
  border-color: var(--color-twitter);
  border-inline-width: 1px;
  border-start-start-radius: theme(borderRadius.md);
  border-start-end-radius: theme(borderRadius.md);
  background-color: var(--color-twitter);
  padding: theme(spacing.1) theme(spacing.5);
  content: 'Twitter';
  color: white;
  font-weight: bold;
  font-size: theme(fontSize.xs);
  line-height: normal;
}

astro-embed-tweet [class~='twitter-tweet']:not(.twitter-tweet-rendered) {
  border-color: theme(borderColor.DEFAULT);
  border-bottom-right-radius: theme(borderRadius.md);
  border-bottom-left-radius: theme(borderRadius.md);
  border-inline-start-width: 1px;
  border-inline-end-width: 1px;
  border-block-end-width: 1px;
  background-color: white;
  padding: theme(spacing.4) theme(spacing.5);
  color: theme(colors.gray.500);
  font-size: theme(fontSize.sm);

  @media (prefers-color-scheme: dark) {
    border-color: transparent;
  }
}

astro-embed-tweet [class~='twitter-tweet']:not(.twitter-tweet-rendered) p {
  margin-block-end: theme(spacing.3);
  color: theme(colors.gray.800);
  font-size: theme(fontSize.base);
}
