.wrapper {
  --wrapper-column: 46rem;
  --wrapper-padding-without-safe-area: clamp(
    1rem,
    max((100cqi - var(--wrapper-column)) / 2, 5cqi),
    7.5cqi
  );
  --wrapper-padding-right: calc(
    var(--wrapper-padding-without-safe-area) + env(safe-area-inset-right)
  );
  --wrapper-padding-left: calc(
    var(--wrapper-padding-without-safe-area) + env(safe-area-inset-left)
  );

  box-sizing: content-box;
  padding-right: var(--wrapper-padding-right);
  padding-left: var(--wrapper-padding-left);
  max-inline-size: var(--wrapper-column);

  > :where(*) {
    margin-inline: auto;
    inline-size: round(down, 100%, 1rem);
  }
}
