.astro-code,
.astro-code span {
  background-color: var(--background-color-dynamic-inset) !important;

  /* https://shiki.style/guide/dual-themes#query-based-dark-mode */
  @media (prefers-color-scheme: dark) {
    color: var(--shiki-dark) !important;
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}
