:root {
  --half-leading: calc((1lh - 1cap) / 2);
}

html {
  container: root / inline-size;
  background-color: var(--background-color-dynamic);
  scrollbar-gutter: stable;
  color: var(--text-color-dynamic);
  /* https://www.oddbird.net/2025/07/22/size-preferences/ */
  font-size: max(100%, 18px);
  line-height: var(--leading-normal);
  text-autospace: normal;
  text-underline-offset: 0.2em;
  overflow-wrap: anywhere;
  text-spacing-trim: trim-start;
}

/* https://schepp.dev/posts/smooth-scrolling-and-page-search/ */
html:focus-within {
  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

body {
  --max-inline-size-body: 42rem;
  --padding-inline-without-safe-area-body: clamp(
    1rem,
    max((100cqw - var(--max-inline-size-body)) / 2, 5cqw),
    10cqw
  );
  --padding-right-body: calc(
    var(--padding-inline-without-safe-area-body) + env(safe-area-inset-right)
  );
  --padding-left-body: calc(
    var(--padding-inline-without-safe-area-body) + env(safe-area-inset-left)
  );

  box-sizing: content-box;
  margin-block: max(5svh, calc(var(--spacing) * 8)) max(30svh, calc(var(--spacing) * 16));
  padding-right: var(--padding-right-body);
  padding-left: var(--padding-left-body);
  max-inline-size: var(--max-inline-size-body);
}

pre {
  /* https://hail2u.net/blog/text-spacing-trim-property-and-pre-element.html */
  text-spacing-trim: space-all;
  /* https://hail2u.net/blog/best-value-for-text-autospace-property.html */
  text-autospace: no-autospace;
}

a:any-link {
  text-decoration: underline;
  text-decoration-color: var(--text-decoration-color-dynamic);
  text-decoration-thickness: 1px;
}

em {
  font-style: normal;
  font-weight: bolder;
}

cite {
  font-style: normal;
}

time {
  /* https://hail2u.net/blog/best-value-for-text-autospace-property.html */
  text-autospace: no-autospace;
}

[id] {
  scroll-margin-block-start: --spacing(4);
}
