@import 'tailwindcss';

/* components */
@import './prose.css' layer(components);

/* utilities */
@import './kerning.css';

/* outsiders */
@import './astro-code.css';
@import './astro-embed-twitter.css';

@theme {
  --font-sans: sans-serif;
  --font-serif: serif;
  --font-mono: monospace, monospace;

  --border-color-dynamic: light-dark(var(--color-gray-300), var(--color-zinc-700));

  --background-color-dynamic: light-dark(var(--color-white), var(--color-zinc-900));
  --background-color-dynamic-inset: light-dark(
    color-mix(in oklch, var(--color-white), var(--color-gray-100) 60%),
    color-mix(in oklch, var(--color-zinc-800), var(--color-zinc-900))
  );

  --text-decoration-color-dynamic: light-dark(
    color-mix(in oklch, var(--color-gray-300), var(--color-gray-400) 95%),
    color-mix(in oklch, var(--color-zinc-400), var(--color-zinc-500) 90%)
  );

  --text-color-dynamic: light-dark(var(--color-gray-700), var(--color-zinc-300));
  --text-color-dynamic-muted: light-dark(var(--color-gray-500), var(--color-zinc-400));

  --spacing: 0.125rlh;

  --text-*: initial;
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.375rem;
  --text-2xl: 1.625rem;

  --leading-*: initial;
  --leading-japanese-tight: 1.5;
  --leading-japanese-normal: 1.85;
  --leading-latin-normal: 1.5;
}

@layer base {
  :root {
    --half-leading: calc((1rlh - 1cap) / 2);
  }

  html {
    container: root / inline-size;
    background-color: var(--background-color-dynamic);
    scrollbar-gutter: stable;
    color: var(--text-color-dynamic);
    font-size: clamp(100%, 0.625svmin + 75%, 112.5%);
    line-height: var(--leading-japanese-normal);
    text-underline-offset: 0.25em;
    overflow-wrap: anywhere;
    text-autospace: normal;
    text-spacing-trim: trim-start;
  }

  /* https://schepp.dev/posts/smooth-scrolling-and-page-search/ */
  html:focus-within {
    @media (prefers-reduced-motion: no-preference) {
      scroll-behavior: smooth;
    }
  }

  body {
    /* `+0.1px` compensates for the miscalculation in `round()` */
    --max-inline-size-body: calc(42rem + 0.1px);
    --padding-inline-without-safe-area-body: clamp(
      1rem,
      max((100cqw - var(--max-inline-size-body)) / 2, 5cqw),
      10cqw
    );
    --padding-right-body: calc(
      var(--padding-inline-without-safe-area-body) + env(safe-area-inset-right)
    );
    --padding-left-body: calc(
      var(--padding-inline-without-safe-area-body) + env(safe-area-inset-left)
    );

    box-sizing: content-box;
    margin-block: max(5svh, calc(var(--spacing) * 8)) max(30svh, calc(var(--spacing) * 16));
    padding-right: var(--padding-right-body);
    padding-left: var(--padding-left-body);
    max-inline-size: var(--max-inline-size-body);
  }

  pre {
    /* https://hail2u.net/blog/text-spacing-trim-property-and-pre-element.html */
    text-spacing-trim: space-all;
    /* https://hail2u.net/blog/best-value-for-text-autospace-property.html */
    text-autospace: no-autospace;
  }

  a:any-link {
    text-decoration: underline;
    text-decoration-color: var(--text-decoration-color-dynamic);
    text-decoration-thickness: 1px;
  }

  em {
    font-style: normal;
    font-weight: bolder;
  }

  cite {
    font-style: normal;
  }

  time {
    /* https://hail2u.net/blog/best-value-for-text-autospace-property.html */
    text-autospace: no-autospace;
  }

  [id] {
    scroll-margin-block-start: --spacing(4);
  }
}
