@import 'tailwindcss';

@theme {
  --font-sans: sans-serif;
  --font-serif: serif;
  --font-mono: monospace, monospace;

  --border-color-dynamic: light-dark(var(--color-gray-300), var(--color-zinc-700));

  --background-color-dynamic: light-dark(var(--color-white), var(--color-zinc-900));
  --background-color-dynamic-inset: light-dark(
    color-mix(in oklch, var(--color-white), var(--color-gray-100) 60%),
    color-mix(in oklch, var(--color-zinc-800), var(--color-zinc-900))
  );

  --text-decoration-color-dynamic: light-dark(
    color-mix(in oklch, var(--color-gray-300), var(--color-gray-400) 95%),
    color-mix(in oklch, var(--color-zinc-400), var(--color-zinc-500) 90%)
  );

  --text-color-dynamic: light-dark(var(--color-gray-700), var(--color-zinc-300));
  --text-color-dynamic-muted: light-dark(var(--color-gray-500), var(--color-zinc-400));

  --spacing: 0.125rlh;

  --text-*: initial;
  --text-xs: 0.75rem;
  --text-xs--line-height: var(--leading-normal);
  --text-sm: 0.875rem;
  --text-sm--line-height: var(--leading-normal);
  --text-base: 1rem;
  --text-base--line-height: var(--leading-normal);
  --text-lg: 1.125rem;
  --text-lg--line-height: var(--leading-tight);
  --text-xl: 1.375rem;
  --text-xl--line-height: var(--leading-tight);
  --text-2xl: 1.625rem;
  --text-2xl--line-height: var(--leading-tight);

  --leading-*: initial;
  --leading-tight: 1.5;
  --leading-normal: 1.85;
}

@layer base {
  :root {
    --half-leading: calc((1lh - 1cap) / 2);
  }

  html {
    container: root / inline-size;
    background-color: var(--background-color-dynamic);
    scrollbar-gutter: stable;
    color: var(--text-color-dynamic);
    /* https://www.oddbird.net/2025/07/22/size-preferences/ */
    font-size: max(100%, 18px);
    line-height: var(--leading-normal);
    text-autospace: normal;
    text-underline-offset: 0.2em;
    overflow-wrap: anywhere;
    text-spacing-trim: trim-start;
  }

  /* https://schepp.dev/posts/smooth-scrolling-and-page-search/ */
  html:focus-within {
    @media (prefers-reduced-motion: no-preference) {
      scroll-behavior: smooth;
    }
  }

  body {
    --max-inline-size-body: 42rem;
    --padding-inline-without-safe-area-body: clamp(
      1rem,
      max((100cqw - var(--max-inline-size-body)) / 2, 5cqw),
      10cqw
    );
    --padding-right-body: calc(
      var(--padding-inline-without-safe-area-body) + env(safe-area-inset-right)
    );
    --padding-left-body: calc(
      var(--padding-inline-without-safe-area-body) + env(safe-area-inset-left)
    );

    box-sizing: content-box;
    margin-block: max(5svh, calc(var(--spacing) * 8)) max(30svh, calc(var(--spacing) * 16));
    padding-right: var(--padding-right-body);
    padding-left: var(--padding-left-body);
    max-inline-size: var(--max-inline-size-body);
  }

  pre {
    /* https://hail2u.net/blog/text-spacing-trim-property-and-pre-element.html */
    text-spacing-trim: space-all;
    /* https://hail2u.net/blog/best-value-for-text-autospace-property.html */
    text-autospace: no-autospace;
  }

  a:any-link {
    text-decoration: underline;
    text-decoration-color: var(--text-decoration-color-dynamic);
    text-decoration-thickness: 1px;
  }

  em {
    font-style: normal;
    font-weight: bolder;
  }

  cite {
    font-style: normal;
  }

  time {
    /* https://hail2u.net/blog/best-value-for-text-autospace-property.html */
    text-autospace: no-autospace;
  }

  [id] {
    scroll-margin-block-start: --spacing(4);
  }
}

/*
  Handle font kerning based on a method described in a CSS Working Group Drafts issue.
  (https://github.com/w3c/csswg-drafts/issues/6723#issuecomment-1411487571)
*/

@utility kerning-none {
  font-kerning: none;
  font-feature-settings: normal;
}

@utility kerning-normal {
  font-kerning: normal;
  font-feature-settings: normal;
}

@utility kerning-all {
  font-kerning: normal;
  font-feature-settings: 'palt';
}

@import './prose.css' layer(components);
@import './outsiders.css';
