/* Syntax Highlighting in Astro */
@scope (.astro-code) {
  :is(:scope, span) {
    background-color: var(--background-color-dynamic-inset) !important;

    /* https://shiki.style/guide/dual-themes#query-based-dark-mode */
    @media (prefers-color-scheme: dark) {
      color: var(--shiki-dark) !important;
      font-style: var(--shiki-dark-font-style) !important;
      font-weight: var(--shiki-dark-font-weight) !important;
      text-decoration: var(--shiki-dark-text-decoration) !important;
    }
  }

  &[data-language='plaintext'] {
    white-space: normal;
  }
}

/* <Tweet> component in Astro Embed */
@scope (astro-embed-tweet) {
  :scope {
    display: block;
  }

  :scope::before {
    @apply text-xs/[normal];
    --color-twitter: #1da1f2;
    display: block;
    border-inline: 1px solid var(--color-twitter);
    border-start-start-radius: var(--radius-md);
    border-start-end-radius: var(--radius-md);
    background-color: var(--color-twitter);
    padding: --spacing(1) --spacing(5);
    content: 'X (Twitter)';
    color: white;
    font-weight: bold;
  }

  .twitter-tweet:not(.twitter-tweet-rendered) {
    @apply text-sm;
    border-bottom-right-radius: var(--radius-md);
    border-bottom-left-radius: var(--radius-md);
    border-inline: 1px solid light-dark(var(--border-color-dynamic), transparent);
    border-block-end: 1px solid light-dark(var(--border-color-dynamic), transparent);
    background-color: white;
    padding: --spacing(4) --spacing(5);
    color: var(--color-gray-500);
  }

  .twitter-tweet:not(.twitter-tweet-rendered) p {
    @apply text-base;
    margin-block-end: --spacing(3);
    color: var(--color-gray-800);
  }
}
