.prose {
  h2 {
    margin-block-start: --spacing(16);
    font-weight: bold;
    font-size: var(--text-xl);
    line-height: var(--leading-japanese-tight);
    font-kerning: normal;
    font-feature-settings: 'palt';
    text-wrap: pretty;
    word-break: auto-phrase;
  }

  h3 {
    margin-block-start: --spacing(12);
    font-weight: bold;
    font-size: var(--text-lg);
    line-height: var(--leading-japanese-tight);
    font-kerning: normal;
    font-feature-settings: 'palt';
    text-wrap: pretty;
    word-break: auto-phrase;
  }

  h2 + h3 {
    margin-block-start: --spacing(4);
  }

  p {
    margin-block-start: --spacing(8);
    hanging-punctuation: allow-end;
  }

  :is(h2, h3) + p {
    margin-block-start: --spacing(4);
  }

  /* Remove the unnecessary paragraph elements rendered by MDX. */
  figure > p:has(> img),
  figcaption > p {
    display: contents;
  }

  hr {
    margin-block: calc(--spacing(8) + var(--spacing-half-leading));
    border-block-start: 4px solid var(--border-color-dynamic);
    inline-size: --spacing(32);
  }

  pre {
    margin-inline: calc((100cqi - 100%) / 2 * -1);
    margin-block: calc(--spacing(8) + var(--spacing-half-leading));
    padding: --spacing(5) calc((100cqi - 100%) / 2);
    line-height: var(--leading-latin-normal);

    /* Apply when the container reaches `inline-size: 42rem`. */
    /* container size = 42rem / (100% - 2 * 5%) */
    @container root (inline-size >= 46.666rem) {
      margin-right: calc((100cqi - var(--body-padding-left) - 100%) * -1);
      margin-left: calc(var(--body-padding-left) * -1);
      padding-right: var(--body-padding-right);
      padding-left: var(--body-padding-left);
    }
  }

  figure pre {
    margin-block-end: 0;
  }

  blockquote:not(.twitter-tweet) {
    position: relative;
    margin-block-start: --spacing(8);
    padding-inline-start: 2rem;
  }

  blockquote:not(.twitter-tweet)::before {
    position: absolute;
    inset-block: calc((1rlh - 1rem) / 2);
    inset-inline-start: 0;
    border-inline-start: 4px solid var(--border-color-dynamic);
    content: '';
  }

  :is(ol, ul) {
    margin-block-start: --spacing(8);
    padding-inline-start: 2rem;
    hanging-punctuation: allow-end;
    list-style-type: revert;
  }

  :is(h2, h3) + :is(ol, ul) {
    margin-block-start: --spacing(4);
  }

  :is(ol, ul) :is(ol, ul) {
    margin-block-start: 0;
  }

  li {
    margin-block-start: --spacing(1);
  }

  figure {
    margin-block: calc(--spacing(8) + var(--spacing-half-leading));
  }

  figcaption {
    margin-block-start: --spacing(3);
    hanging-punctuation: allow-end;
    font-size: var(--text-sm);
  }

  /* The `quotes` property does not work correctly in Safari */
  /* https://bugs.webkit.org/show_bug.cgi?id=260425 */
  code::before,
  code::after {
    content: '`';
  }

  pre > code::before,
  pre > code::after {
    content: normal;
  }

  img {
    border: 1px solid var(--border-color-dynamic);
  }

  table {
    display: block;
    margin-block: calc(--spacing(8) + var(--spacing-half-leading));
    border-spacing: 0;
    max-inline-size: 100%;
    overflow-x: auto;
  }

  td {
    vertical-align: top;
    border-block-end: 1px solid var(--border-color-dynamic);
    padding: --spacing(1) --spacing(3);
    white-space: pre;
  }

  th {
    vertical-align: top;
    border-block-end: 1px solid var(--border-color-dynamic);
    background-color: var(--background-color-dynamic-inset);
    padding: --spacing(1) --spacing(3);
    text-align: inherit;
    white-space: pre;
  }

  details {
    margin-block-start: --spacing(8);
  }

  :is(astro-embed-tweet, baseline-status, lite-youtube, .codepen, .cp_embed_wrapper) {
    margin-block: calc(--spacing(8) + var(--spacing-half-leading));
  }

  :is(
      hr,
      pre,
      figure,
      table,
      astro-embed-tweet,
      baseline-status,
      baseline-status + script,
      lite-youtube,
      lite-youtube + script,
      .codepen + script,
      .cp_embed_wrapper + script
    )
    + :is(
      hr,
      pre,
      figure,
      table,
      astro-embed-tweet,
      baseline-status,
      lite-youtube,
      .codepen,
      .cp_embed_wrapper
    ) {
    margin-block-start: calc(--spacing(8) + var(--spacing-half-leading) * 2);
  }
}
