@scope (.prose) {
  h2 {
    @apply text-xl kerning-all;
    margin-block-start: --spacing(16);
    font-weight: bold;
    text-wrap: pretty;
    word-break: auto-phrase;
  }

  h3 {
    @apply text-lg kerning-all;
    margin-block-start: --spacing(12);
    font-weight: bold;
    text-wrap: pretty;
    word-break: auto-phrase;

    h2 + & {
      margin-block-start: --spacing(4);
    }
  }

  h4 {
    margin-block-start: --spacing(8);
    font-weight: bold;
    text-wrap: pretty;
    word-break: auto-phrase;

    h3 + & {
      margin-block-start: --spacing(4);
    }
  }

  p {
    margin-block-start: --spacing(8);
    hanging-punctuation: allow-end;

    :is(h2, h3, h4) + & {
      margin-block-start: --spacing(4);
    }
  }

  :is(hr, figure, table) {
    margin-block: calc(--spacing(8) + var(--root-half-leading));

    & + & {
      margin-block-start: calc(--spacing(8) + var(--root-half-leading) * 2);
    }
  }

  hr {
    border-block-start: 4px solid var(--border-color-dynamic);
    inline-size: --spacing(32);
  }

  pre {
    margin-inline: calc((100cqw - 100%) / 2 * -1);
    padding-inline: calc((100cqw - 100%) / 2);
    line-height: var(--leading-tight);

    /* Apply when the container reaches `inline-size: 42rem`. */
    /* container size = 42rem / (100% - 2 * 5%) */
    @container root (inline-size >= 46.666rem) {
      margin-right: calc((100cqw - var(--padding-left-body) - 100%) * -1);
      margin-left: calc(var(--padding-left-body) * -1);
      padding-right: var(--padding-right-body);
      padding-left: var(--padding-left-body);
    }

    blockquote:not([class]) & {
      margin-inline: 0;
      padding-inline: 0;
    }

    &:has(+ figcaption) {
      margin-block-end: --spacing(7);
    }
  }

  blockquote:not([class]) {
    margin-inline-start: 2rem;
    margin-block: --spacing(12);

    &:has(+ figcaption) {
      margin-block-end: --spacing(10);
    }

    > :first-child {
      margin-block-start: 0;
    }

    > :last-child {
      margin-block-end: 0;
    }
  }

  :is(ol, ul) {
    margin-block-start: --spacing(8);
    padding-inline-start: 2rem;
    list-style-type: revert;

    :is(h2, h3, h4) + & {
      margin-block-start: --spacing(4);
    }

    & & {
      margin-block-start: 0;
    }
  }

  li {
    margin-block-start: --spacing(1);
    hanging-punctuation: allow-end;
  }

  figure {
    &:has(> blockquote:not([class])) {
      margin-block: --spacing(12);
    }

    &:has(> pre) + &:has(> pre)::before {
      display: block;
      mask-image: linear-gradient(to right, black calc(100% - --spacing(32)), transparent);
      margin-block-end: calc(--spacing(8) + var(--half-leading) * 2);
      border-block-start: 1px dashed var(--border-color-dynamic);
      content: '';
    }
  }

  figcaption {
    @apply text-sm;
    margin-block-start: --spacing(2.5);
    hanging-punctuation: allow-end;

    :not(blockquote:not([class])) + & {
      margin-block-end: calc(var(--half-leading) / -2);
    }
  }

  img {
    outline: 1px solid var(--border-color-dynamic);
    outline-offset: -1px;
  }

  table {
    display: block;
    border-spacing: 0;
    max-inline-size: 100%;
    overflow-x: auto;
  }

  :is(td, th) {
    vertical-align: top;
    border-block-end: 1px solid var(--border-color-dynamic);
    padding: --spacing(1) --spacing(3);
    text-wrap-mode: nowrap;
    white-space-collapse: preserve-breaks;
  }

  th {
    background-color: var(--background-color-dynamic-inset);
    text-align: inherit;
  }

  details {
    margin-block-start: --spacing(8);
  }
}
