@theme inline {
  --font-sans: sans-serif;
  --font-serif: serif;
  --font-mono: monospace, monospace;

  --border-color-dynamic: light-dark(var(--color-gray-300), var(--color-zinc-700));

  --background-color-dynamic: light-dark(var(--color-white), var(--color-zinc-900));
  --background-color-dynamic-inset: light-dark(
    color-mix(in oklch, var(--color-white), var(--color-gray-100) 60%),
    color-mix(in oklch, var(--color-zinc-800), var(--color-zinc-900))
  );

  --text-decoration-color-dynamic: light-dark(
    color-mix(in oklch, var(--color-gray-300), var(--color-gray-400) 95%),
    color-mix(in oklch, var(--color-zinc-400), var(--color-zinc-500) 90%)
  );

  --text-color-dynamic: light-dark(var(--color-gray-700), var(--color-zinc-300));
  --text-color-dynamic-muted: light-dark(var(--color-gray-500), var(--color-zinc-400));

  --spacing: 0.125rlh;

  --text-*: initial;
  --text-xs: 0.75rem;
  --text-xs--line-height: var(--leading-normal);
  --text-sm: 0.875rem;
  --text-sm--line-height: var(--leading-normal);
  --text-base: 1rem;
  --text-base--line-height: var(--leading-normal);
  --text-lg: 1.125rem;
  --text-lg--line-height: var(--leading-tight);
  --text-xl: 1.375rem;
  --text-xl--line-height: var(--leading-tight);
  --text-2xl: 1.625rem;
  --text-2xl--line-height: var(--leading-tight);

  --leading-*: initial;
  --leading-tight: 1.5;
  --leading-normal: 1.85;
}
