---
import Layout from "../components/Layout.astro";
import PageHeader from "../components/PageHeader.astro";

const title = "ページが存在しません";
---

<Layout {title}>
	<PageHeader {title} />

	<div class="my-12 border-t"></div>

	<div class="container">
		<p><a href="https://www.google.com/search?q=site%3Ayuheiy.com">サイト内を検索する</a></p>
	</div>
</Layout>
