---
import Layout from "../components/Layout.astro";

const title = "ページが存在しません";
---

<Layout {title}>
	<div class="container">
		<h1
			class="text-2xl leading-tight font-bold [font-kerning:auto] [font-feature-settings:'palt'_1]"
		>
			{title}
		</h1>
	</div>

	<div class="my-12 border-t"></div>

	<div class="container">
		<p><a href="https://www.google.com/search?q=site%3Ayuheiy.com">サイト内を検索する</a></p>
	</div>
</Layout>
