---
import { getCollection } from "astro:content";
import Layout from "../components/Layout.astro";
import PageTitle from "../components/PageTitle.astro";
import dayjs from "../lib/dayjs";

export async function getStaticPaths() {
	return (await getCollection("blog")).map((entry) => ({
		params: { slug: entry.slug },
		props: { entry },
	}));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout
	title={entry.data.title}
	description={entry.data.description}
	ogImageURL={entry.data.ogImageURL!}
	ogType="article"
	twitterCard={entry.data.twitterCard!}
>
	<article class="space-y-16">
		<PageTitle Component="header" title={entry.data.title}>
			<p class="text-sm text-dynamic-muted">
				<time datetime={dayjs(entry.data.publishDate).tz().toISOString()}>
					{dayjs(entry.data.publishDate).tz().format("LL")}
				</time>
			</p>
		</PageTitle>

		<div class="border-t"></div>

		<div class="prose container">
			<Content />
		</div>
	</article>
</Layout>
