---
import { getCollection } from 'astro:content';
import DetailsList from '../components/DetailsList.astro';
import PageHeader from '../components/PageHeader.astro';
import Layout from '../layouts/Layout.astro';
import { renderDateHtml } from '../lib/date-time-formatter';

const title = 'ブログ';

const blogEntries = (await getCollection('blog')).toSorted(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<Layout title={title}>
  <PageHeader title={title} />

  <main class="wrapper">
    <DetailsList
      items={blogEntries.map((entry) => ({
        title: entry.data.title,
        link: `/${entry.slug}`,
        meta: renderDateHtml(entry.data.pubDate),
      }))}
    />
  </main>
</Layout>
