---
import { getCollection } from 'astro:content';
import DetailsList from '../components/DetailsList.astro';
import PageHeader from '../components/PageHeader.astro';
import Layout from '../layouts/Layout.astro';
import { getBlogDescription } from '../lib/get-blog-description';
import { getBlogUrl } from '../lib/get-blog-url';
import { renderDateToHtml } from '../lib/render-date-to-html';

const title = 'ブログ';

const items = await Promise.all(
  (await getCollection('blog'))
    .toSorted((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
    .map(async (entry) => ({
      title: entry.data.title,
      link: getBlogUrl(entry),
      meta: renderDateToHtml(entry.data.pubDate),
      description: await getBlogDescription(entry),
    })),
);
---

<Layout title={title}>
  <PageHeader title={title} />

  <main class="wrapper">
    <DetailsList headingLevel={2} items={items} clampDescription />
  </main>
</Layout>
