---
import DetailsList from "../components/DetailsList.astro";
import Layout from "../components/Layout.astro";
import PageHeader from "../components/PageHeader.astro";

const title = "記事";

let allPosts = await Astro.glob<{ title: string; published: string }>("./*.md");
allPosts.sort((a, b) => Date.parse(b.frontmatter.published) - Date.parse(a.frontmatter.published));
---

<Layout {title}>
	<div class="space-y-12">
		<PageHeader {title} />

		<div class="border-t"></div>

		<div class="container">
			<DetailsList
				items={allPosts.map((post) => ({
					title: post.frontmatter.title,
					url: post.url,
					meta: `<time datetime="${post.frontmatter.published}">
						${new Date(post.frontmatter.published).toLocaleDateString("ja-JP", { dateStyle: "long" })}
					</time>`,
				}))}
				ordered={true}
			/>
		</div>
	</div>
</Layout>
