---
import DetailsList from "../components/DetailsList.astro";
import Layout from "../components/Layout.astro";
import PageTitle from "../components/PageTitle.astro";
import dayjs from "../lib/dayjs";

const title = "記事";

const allPosts = await Astro.glob<{ title: string; published: string }>("./*.md");
allPosts.sort(
	(a, b) => dayjs(b.frontmatter.published).valueOf() - dayjs(a.frontmatter.published).valueOf()
);
---

<Layout title={title}>
	<div class="space-y-16">
		<PageTitle title={title} />

		<div class="border-t"></div>

		<div class="container">
			<DetailsList
				items={allPosts.map((post) => ({
					title: post.frontmatter.title,
					url: post.url,
					meta: `<time datetime="${dayjs(post.frontmatter.published).toISOString()}">
						${dayjs(post.frontmatter.published).format("LL")}
					</time>`,
				}))}
				ordered={true}
			/>
		</div>
	</div>
</Layout>
