---
export interface DetailsListItem {
  title: string;
  link: string;
  meta?: string | undefined;
  description?: string | undefined;
}

interface Props {
  items: DetailsListItem[];
}

const { items } = Astro.props;
---

<ol class="space-y-10">
  {
    items.map((item) => (
      <li class="space-y-[0.125rem]">
        {item.meta && <p class="text-sm text-dynamic-muted" set:html={item.meta} />}
        <p>
          <a href={item.link} set:html={item.title} />
        </p>
        {item.description && <p class="text-sm text-dynamic-muted" set:html={item.description} />}
      </li>
    ))
  }
</ol>
