---
import PageNav from './PageNav.astro';

type Props =
  | {
      isHome: true;
      description?: string | undefined;
    }
  | {
      isHome?: false | undefined;
      title: string;
      description?: string | undefined;
    };

const isHome = Astro.props.isHome === true;
const { description } = Astro.props;
---

<header class="mb-28 pb-2">
  <PageNav isHome={isHome} />

  {
    Astro.slots.has('meta') && (
      <p class="mb-1.5 text-xs text-dynamic-muted">
        <slot name="meta" />
      </p>
    )
  }

  {
    !isHome && (
      <h1
        class="text-2xl/japanese-tight font-bold text-pretty [word-break:auto-phrase] kerning-all"
        set:html={Astro.props.title}
      />
    )
  }

  {
    description && (
      <p class:list={['mt-4 [hanging-punctuation:allow-end]', !isHome && 'text-dynamic-muted']}>
        {description}
      </p>
    )
  }
</header>
