---
import { Image } from 'astro:assets';
import { siteTitle } from '../consts';

interface Props {
  title: string;
  isHome?: boolean | undefined;
}

const isHome = Astro.props.isHome === true;

const { title } = Astro.props;

const Root = isHome ? 'header' : 'div';
const Nav = isHome ? Fragment : 'nav';
const Logo = isHome ? 'h1' : 'p';
const Body = isHome ? Fragment : 'header';
const Title = isHome ? 'p' : 'h1';
---

<Root
  class="mb-28 grid grid-rows-[auto_--spacing(8)_[body-start_meta]_minmax(--spacing(20),auto)_[title]_auto_[description]_auto_[body-end]]"
>
  <Nav>
    <Logo class="text-sm/none text-dynamic-muted kerning-normal">
      {/* eslint-disable-next-line astro/jsx-a11y/anchor-is-valid */}
      <a class="flex w-fit items-center gap-x-3.5" href={isHome ? null : '/'}>
        <Image
          class="my-0.5 w-7 rounded-full ring-1 ring-dynamic"
          src={import('../assets/favicon.svg')}
          alt=""
        />
        {siteTitle}
      </a>
    </Logo>
  </Nav>

  <Body class="row-[body-start/body-end] grid grid-rows-subgrid">
    {
      Astro.slots.has('meta') && (
        <p class="row-[meta] mb-1 self-end text-xs text-dynamic-muted">
          <slot name="meta" />
        </p>
      )
    }

    <Title
      class="row-[title] text-2xl/japanese-tight font-bold text-pretty [word-break:auto-phrase] kerning-all"
      set:html={title}
    />

    {
      Astro.slots.has('default') && (
        <div
          class:list={[
            'row-[description] pb-4 text-dynamic-muted [hanging-punctuation:allow-end]',
            '*:mt-4',
            '[&_a:any-link]:text-dynamic',
          ]}
        >
          <slot />
        </div>
      )
    }
  </Body>
</Root>
