---
import PageNav from './PageNav.astro';

type Props =
  | {
      isHome: true;
    }
  | {
      isHome?: false | undefined;
      title: string;
    };

const isHome = Astro.props.isHome === true;
---

<header>
  <PageNav isHome={isHome} />

  <div class="mt-28 mb-28 pb-2">
    {
      Astro.slots.has('meta') && (
        <p class="mb-1.5 text-xs text-dynamic-muted">
          <slot name="meta" />
        </p>
      )
    }

    {
      !isHome && (
        <h1
          class="text-2xl/japanese-tight font-bold text-pretty [word-break:auto-phrase] kerning-all"
          set:html={Astro.props.title}
        />
      )
    }

    {
      Astro.slots.has('default') && (
        <div class:list={['mt-4 [hanging-punctuation:allow-end]', !isHome && 'text-dynamic-muted']}>
          <slot />
        </div>
      )
    }
  </div>
</header>
