---
import { Image } from 'astro:assets';
import config from '#config';
---

<nav>
  <p class="text-sm/none text-dynamic-muted">
    <a class="flex w-fit items-center gap-x-[1.5ch]" href="/">
      <Image
        class="-m-px box-content size-[2.5cap] rounded-full border border-dynamic"
        src={import('../assets/favicon.svg')}
        alt=""
      />
      {config.siteTitle}
    </a>
  </p>
</nav>
