---
import { Image } from 'astro:assets';
import { siteTitle } from '../consts';

interface Props {
  title: string;
  isHome?: boolean | undefined;
}

const isHome = Astro.props.isHome === true;

const { title } = Astro.props;

const Nav = isHome ? Fragment : 'nav';
const Logo = isHome ? 'h1' : 'p';
const Title = isHome ? 'p' : 'h1';
---

<header>
  <Nav>
    <Logo class="text-sm leading-none text-dynamic-muted kerning-normal">
      {/* eslint-disable-next-line astro/jsx-a11y/anchor-is-valid */}
      <a class="flex w-fit items-center gap-x-3.5 py-0.5" href={isHome ? null : '/'}>
        <Image
          class="w-7 rounded-full ring-1 ring-dynamic"
          src={import('../assets/favicon.svg')}
          alt=""
        />
        {siteTitle}
      </a>
    </Logo>
  </Nav>

  <div class="mb-28 mt-8 grid grid-rows-[minmax(theme(spacing.20),auto),auto,auto]">
    {
      Astro.slots.has('meta') && (
        <p class="row-start-1 mb-1.5 self-end text-xs text-dynamic-muted">
          <slot name="meta" />
        </p>
      )
    }

    <Title
      class="row-start-2 text-pretty text-2xl font-bold leading-tight [font-feature-settings:'halt'] [word-break:auto-phrase]"
      set:html={title}
    />

    {
      Astro.slots.has('default') && (
        <div
          class:list={[
            'row-start-3 mt-5 space-y-4 pb-4 text-dynamic-muted [hanging-punctuation:allow-end]',
            '[&_a:any-link]:text-dynamic',
          ]}
        >
          <slot />
        </div>
      )
    }
  </div>
</header>
