---
interface Props {
  title: string;
  isHome?: boolean | undefined;
}

const isHome = Astro.props.isHome === true;
const { title } = Astro.props;

const Wrapper = isHome ? 'div' : 'header';
const HeadingOrParagraph = isHome ? 'p' : 'h1';
---

<Wrapper class="mt-8 mb-28 grid grid-rows-[minmax(--spacing(20),auto)_auto_auto]">
  {
    Astro.slots.has('meta') && (
      <p class="row-start-1 mb-1.5 self-end text-xs text-dynamic-muted">
        <slot name="meta" />
      </p>
    )
  }

  <HeadingOrParagraph
    class="row-start-2 text-2xl/japanese-tight font-bold text-pretty [word-break:auto-phrase] kerning-all"
    set:html={title}
  />

  {
    Astro.slots.has('default') && (
      <div
        class:list={[
          'row-start-3 pb-4 text-dynamic-muted [hanging-punctuation:allow-end]',
          '*:mt-4',
          '[&_a:any-link]:text-dynamic',
        ]}
      >
        <slot />
      </div>
    )
  }
</Wrapper>
