---
import { Image } from 'astro:assets';
import { siteTitle } from '../consts';
---

<nav>
  <p class="text-sm/none text-dynamic-muted">
    <a class="flex w-fit items-center gap-x-3.5" href="/">
      <Image
        class="my-0.5 w-7 rounded-full border border-dynamic"
        src={import('../assets/favicon.svg')}
        alt=""
      />
      {siteTitle}
    </a>
  </p>
</nav>
