---
import { loadDefaultJapaneseParser } from "budoux";

export interface Props {
	Component?: keyof HTMLElementTagNameMap;
	title: string;
}

const { Component = "div", title } = Astro.props as Props;

const parser = loadDefaultJapaneseParser();
---

<Component class="container space-y-8">
	<h1 class="text-2xl leading-tight font-bold kerning" set:html={parser.translateHTMLString(title)}>
	</h1>
	<slot></slot>
</Component>
