---
import { Image } from 'astro:assets';
import faviconImage from '../assets/favicon.svg';
import { SITE_TITLE } from '../consts';

interface Props {
  title: string;
  isHome?: boolean | undefined;
}

const { title, isHome } = Astro.props;

const Nav = isHome ? Fragment : 'nav';
const Logo = isHome ? 'h1' : 'p';
const Title = isHome ? 'p' : 'h1';
---

<header class="wrapper space-y-8 pt-16">
  <Nav>
    <Logo class="text-sm text-dynamic-muted kerning-normal">
      {/* eslint-disable-next-line astro/jsx-a11y/anchor-is-valid */}
      <a
        class="flex w-fit items-center gap-x-3"
        href={isHome ? null : '/'}
        title={isHome ? null : 'ホームに戻る'}
      >
        <Image
          class="w-7 rounded-full ring-1 ring-dynamic"
          src={faviconImage}
          alt=""
          loading="eager"
        />
        {SITE_TITLE}
      </a>
    </Logo>
  </Nav>

  <Title
    class="text-2xl font-bold leading-tight kerning-all [text-wrap:pretty] [word-break:auto-phrase]"
    set:html={title}
  />

  <slot />
</header>
