---
import Layout from "../components/Layout.astro";
import PageTitle from "../components/PageTitle.astro";
import dayjs from "../lib/dayjs";

// https://docs.astro.build/en/guides/markdown-content/#markdown-layout-props
export interface Props {
	content: {
		title: string;
		publishDate: string;
		description: string;
		ogImageURL?: string;
		twitterCard?: "summary" | "summary_large_image";
	};
}

const {
	content: { title, publishDate, description, ogImageURL, twitterCard },
} = Astro.props as Props;
---

<Layout
	title={title}
	description={description}
	ogImageURL={ogImageURL!}
	ogType="article"
	twitterCard={twitterCard!}
>
	<article class="space-y-16">
		<PageTitle Component="header" title={title}>
			<p class="text-sm text-dynamic-muted">
				<time datetime={dayjs(publishDate).tz().toISOString()}>
					{dayjs(publishDate).tz().format("LL")}
				</time>
			</p>
		</PageTitle>

		<div class="border-t"></div>

		<div class="prose container">
			<slot />
		</div>
	</article>
</Layout>
