a:where(:any-link) {
  text-decoration: underline;
  text-decoration-color: theme(textDecorationColor.dynamic.DEFAULT);
  text-decoration-thickness: 1px;
}

em {
  font-style: normal;
  font-weight: bolder;
}

[id] {
  scroll-margin-block-start: theme(spacing.4);
}

:focus {
  scroll-margin-block: theme(spacing.4);
}
