:root {
  --wrapper-inline-size: 46rem;
  --wrapper-margin-without-safe-area: clamp(
    1rem,
    max((100% - var(--wrapper-inline-size)) / 2, 5vw),
    6rem
  );
  --wrapper-margin-left: calc(env(safe-area-inset-left) + var(--wrapper-margin-without-safe-area));
  --wrapper-margin-right: calc(
    env(safe-area-inset-right) + var(--wrapper-margin-without-safe-area)
  );
}
