:root {
  --wrapper-inline-size: 46rem;
  --wrapper-margin-min: 1.25rem;
  --wrapper-margin-max: 6rem;
  --wrapper-margin-without-safe-area: clamp(
    var(--wrapper-margin-min),
    max((100% - var(--wrapper-inline-size)) / 2, 5vw),
    var(--wrapper-margin-max)
  );
  --wrapper-margin-left: calc(var(--wrapper-margin-without-safe-area) + env(safe-area-inset-left));
  --wrapper-margin-right: calc(
    var(--wrapper-margin-without-safe-area) + env(safe-area-inset-right)
  );
}
