:root {
  --wrapper-inline-size: 46rem;
  --_wrapper-margin-without-safe-area: clamp(
    1.25rem,
    max((100cqi - var(--wrapper-inline-size)) / 2, 5vw),
    6rem
  );
  --wrapper-margin-left: calc(var(--_wrapper-margin-without-safe-area) + env(safe-area-inset-left));
  --wrapper-margin-right: calc(
    var(--_wrapper-margin-without-safe-area) + env(safe-area-inset-right)
  );
}
