:root {
  --astro-code-color-text: theme(textColor.dynamic.DEFAULT);
  --astro-code-color-background: theme(backgroundColor.dynamic.muted);
  --astro-code-token-constant: light-dark(#0550ae, #79c0ff);
  --astro-code-token-string: light-dark(#0a3069, #a5d6ff);
  --astro-code-token-comment: light-dark(#6e7781, #8b949e);
  --astro-code-token-keyword: light-dark(#cf222e, #ff7b72);
  --astro-code-token-parameter: light-dark(#24292f, #c9d1d9);
  --astro-code-token-function: light-dark(#8250df, #d2a8ff);
  --astro-code-token-string-expression: light-dark(#0a3069, #a5d6ff);
  --astro-code-token-punctuation: light-dark(#0a3069, #a5d6ff);
  --astro-code-token-link: light-dark(#0a3069, #a5d6ff);
}
